

.spe{
      min-height: 400px;
      overflow: hidden;
}

.spe-nav{
      text-align: center;
      margin: 30px 0;
      h3{
            font-size: 26px;
            color: #262a37;
            font-family: 'Roboto';
            text-transform: uppercase;
            font-weight: 400;
      }
}

@media only screen and (min-width: 768px) {
      .spe-nav{
            h3{
                  font-size: 50px;
            }
      }
}

.slider-spe{
      overflow: hidden;
}

.spe-info{
      display: flex;
      justify-content: center;
}

.spe-info-block{
      img{
            width: 200px;
            height: 300px;
      }
}

.spe-info-block-el{
      line-height: 25px;
      width: 200px;
      span{
            font-size: 14px;
            color: #74808c;
            font-family: 'Roboto';
            font-weight: 300;
            text-transform: capitalize;
      }
      p{
            font-size: 16px;
            color: #000;
            font-family: 'Roboto';
            font-weight: 300;
            text-transform: capitalize;
      }
}