*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@400;500;700;900&display=swap');

.container{
      width: 95%;
      margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
      .container{
            max-width: 1170px;
      }
}




@import "header";



@import "footer";